<html>
  <head>
    <style>
      /* GENERAL */
      body {
        font-family: sans-serif;
        font-size: 0.7em;
        margin: 0;
      }

      /* HEADER */
      .header {
        margin: 0;
        padding: 1em;
        background-color: #b4b4b4;
      }

      .header h1, .header form {
        display: inline;
        vertical-align: middle;
      }

      .header h1 {
        margin-right: 2em;
      }

      /* TRANSLATIONS */
      table.keys {
        width: 100%;
      }

      table.keys .key {
        padding-left: 0.5em;
      }

      table.keys tr.translation > td {
        border-bottom: 1px solid #bbb;
      }

      table.keys tr.translation.incomplete .key .text {
        border-bottom: 3px solid #f33;
      }

      table.keys tr.translation.empty .key .text {
        border-bottom: 3px solid #33f;
      }

      table.keys td.key {
        width: 300px;
      }

      table.locales td.value input {
        width: 600px;
      }

      /* CATEGORIES */

      table.categories {
        width: 100%;
      }

      table.categories .key {
        padding-left: 0.5em;
      }

      table.categories tr.category a {
        text-decoration: none;
      }

      table.categories tr.category > td {
        border-bottom: 1px solid #bbb;
      }

      table.categories tr.category > td {
        padding-top: 1em;
        padding-bottom: 1em;
      }

      table.categories tr.category.incomplete .key .text {
        border-bottom: 3px solid #f33;
      }
    </style>
  </head>

  <body>
    <div class=header>
      <h1>i18n-yaml-editor</h1>

      <form action=/ method=get>
        <label>
          Key:
          <input name=filters[key] type=text value="<%= filters["key"] %>" />
        </label>

        <label>
          Text:
          <input name=filters[text] type=text value="<%= filters["text"] %>" />
        </label>

        <label>
          <input name=filters[incomplete] type=checkbox <%= "checked=checked" if filters["incomplete"] == "on" %> />
          Incomplete
        </label>
        <label>
          <input name=filters[empty] type=checkbox <%= "checked=checked" if filters["empty"] == "on" %> />
          Empty
        </label>

        <input type=submit value=Filter />
      </form>

      <form action=/ method=get>
        <input type=submit value=Clear />
      </form>
    </div>

    <div class=content>
      <%= content %>
    </div>
  </body>
</html>
