<html>
  <head>
    <title>IYE</title>
    <link rel="stylesheet" media="screen" href="<%= root_path %>stylesheets/iye.css" />
  </head>

  <body>
    <div class="header">
      <h1><a id='logo' href='<%= root_path %>'>IYE</a></h1>

      <form action="<%= root_path %>" method="get">
        <label>
          Key:
          <input name="filters[key]" type="text" value="<%= ERB::Util.html_escape filters["key"] %>" />
        </label>

        <label>
          Text:
          <input name="filters[text]" type="text" value="<%= ERB::Util.html_escape filters["text"] %>" />
        </label>

        <label>
          <input name="filters[incomplete]" type="checkbox" <%= "checked=checked" if filters["incomplete"] == "on" %> />
          Incomplete
        </label>
        <label>
          <input name="filters[empty]" type="checkbox" <%= "checked=checked" if filters["empty"] == "on" %> />
          Empty
        </label>

        <input class="btn btn-primary btn-small" type="submit" value="Apply Filter" />
      </form>

      <% if filters.any? %>
        <form action="<%= root_path %>" method="get">
          <input class="btn btn-text btn-small" type="submit" value="Clear Filter" />
        </form>
      <% end %>

      <a class='btn pull-right' href="<%= root_path %>new?key=<%= ERB::Util.html_escape filters['key'] %>">New Translation</a>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
