<form id="updateform" action="<%= root_path %>update" method="post">
  <% filters.each do |filter, value| %>
    <input name="filters[<%= filter %>]" type="hidden" value="<%= value %>"/>
  <% end %>

  <table class="keys" cellspacing="0">
    <% keys.each do |name, key| %>
      <tr class="translation
        <%= "incomplete" unless key.complete? %>
        <%= "empty" if key.empty? %>
        ">
        <td class="key">
          <span class="text"><%= key.name %></span>
        </td>
        <td class="translations">
          <table class="locales">
            <% key.translations.sort_by(&:locale).each do |translation| %>
              <tr>
                <td class="locale"><%= translation.locale %>:</td>
                <td class="value">
                  <% if translation.text.nil? || translation.text.is_a?(String) %>
                    <textarea cols=80 rows=<%= translation.number_of_lines %> name="translations[<%= translation.name %>]" dir="auto"><%= Rack::Utils.escape_html translation.text %></textarea>
                  <% else %>
                    [read only]
                    <%= translation.text.class.name %>
                    <%= Rack::Utils.escape_html translation.text.inspect %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
        <td width="1%">
          <a href="<%= root_path %>keys/<%= ERB::Util.html_escape name %>/destroy" class='btn btn-danger btn-small delete-button'>Delete</a>
        </td>
      </tr>
    <% end %>
  </table>

  <p class="pull-right">
    <input class="btn btn-primary" type="submit" id="save" value="Save Translations" />
  </p>
</form>

<% if keys.empty? %>
  <h3>
    Could not find any keys for your search.
    <a href="<%= root_path %>new?key=<%= filters['key'] %>">Create a new one</a>
  </h3>
<% end %>