<form action=/update method=post>
  <% filters.each do |filter, value| %>
    <input name=filters[<%= filter %> type=hidden value="<%= value %>"/>
  <% end %>

  <table class=keys cellspacing=0>
    <% keys.each do |name, key| %>
      <tr class="translation 
        <%= "incomplete" unless key.complete? %>
        <%= "empty" if key.empty? %>
        ">
        <td class=key>
          <span class=text><%= key.name %></span>
        </td>
        <td class=translations>
          <table class=locales>
            <% key.translations.sort_by(&:locale).each do |translation| %>
              <tr>
                <td class=locale><%= translation.locale %>:</td>
                <td class=value>
                  <% if translation.text.nil? || translation.text.is_a?(String) %>
                    <input type=text name="translations[<%= translation.name %>]" value="<%= translation.text %>" />
                  <% else %>
                    [read only]
                    <%= translation.text.class.name %>
                    <%= Rack::Utils.escape_html translation.text.inspect %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  </table>

  <p><input type=submit value=Save /></p>
</form>
