<h2>Translations</h2>
<form action=/update method=post>
  <% filters.each do |filter, value| %>
    <input name=filters[<%= filter %> type=hidden value="<%= value %>"/>
  <% end %>

  <table>
    <% keys.each do |key, translations| %>
      <tr class="translation <%= "incomplete" unless app.store.key_complete?(key) %>" data-key=<%= key %>>
        <td><%= key %></td>
        <td>
          <table>
            <% translations.each do |translation| %>
              <tr>
                <td><%= translation.locale %></td>
                <td>
                  <% if translation.text.is_a? String %>
                    <input type=text name="keys[<%= translation.key %>][<%= translation.locale %>]" value="<%= translation.text %>" />
                  <% else %>
                    [read only]
                    <%= translation.text.class.name %>
                    <%= Rack::Utils.escape_html translation.text.inspect %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  </table>

  <input type=submit value=Save />
</form>
