<form action="/update" method=post>
  <table>
    <% keys.each do |key, translations| %>
      <tr class="<%= "incomplete" if translations.any? {|t| t[:text].to_s =~ /\A\s*\z/} %>">
        <td><%= key %></td>
        <td>
          <table>
            <% translations.each do |translation| %>
              <tr>
                <td><%= translation[:locale] %></td>
                <td>
                  <input type=text name="keys[<%= translation[:key] %>][<%= translation[:locale] %>]" value="<%= translation[:text] %>" />
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  </table>

  <input type=submit value=Save />
</form>
